@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2");
}
:root {
  --clr-black:#000;
  --clr-white:white;
  --clr-green:#299764;
}

.dark {
  --clr-black:white;
  --clr-white:#000;
  --clr-green:#299764;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 18px 0;
  border-bottom: 1.5px solid #626262;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar__item {
  position: relative;
}

.navbar__item {
  position: relative;
  margin-top: 0px;
  padding: 18px 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--clr-black);
}

.navbar__item:nth-child(2) > .navbar__item:nth-child(3) {
  padding-right: 30px;
  transition: all 0.3s;
  cursor: pointer;
}

.navbar__item:nth-child(2) > .navbar__link::before, .navbar__item:nth-child(3) > .navbar__link::before {
  content: "";
  background-image: url("../../images/Icon.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.header__right-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__phone-number {
  margin-right: 24px;
  margin-top: 0;
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: var(--clr-black);
}

.header__mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: #727272;
  border-radius: 50%;
  border: none;
  color: var(--clr-white);
  margin-right: 16px;
}

.header__logout-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--clr-white);
  font-family: "Montserrat", serif;
  background-color: var(--clr-green);
  border-radius: 100px;
  border: 2px solid transparent;
  gap: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.header__logout-btn:hover {
  background-color: transparent;
  border-color: var(--clr-green);
  color: var(--clr-green);
}

.popop__wrapper {
  padding: 10px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border: none;
  margin-top: 10px;
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 9999;
}

.popop__link {
  width: 100%;
  border-radius: 20px;
  display: inline-block;
  padding: 18px 0px 18px 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: black;
  transition: all 0.3s;
}
.popop__link:hover {
  background-color: var(--clr-green);
  color: white;
}

.navbar__item:nth-child(2):hover::before {
  transform: rotate(180deg);
}

.navbar__item:nth-child(2):hover > .popop__wrapper {
  height: 195px;
  padding: 10px;
  border: 1px solid gray;
  opacity: 1;
}

.navbar__item:nth-child(3):hover > .popop__wrapper {
  height: 140px;
  padding: 10px;
  border: 1px solid gray;
  opacity: 1;
}

.header__menu-btn {
  display: none;
  border: none;
  background-color: transparent;
  margin-left: 16px;
}

@media (max-width: 1053px) {
  .swiper-slide {
    background-position: center;
  }
  .swiper-slide:nth-child(1) {
    background-image: url("../../images/hero-tablet.png");
  }
  .navbar,
  .header__phone-number {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
}
@media (max-width: 834px) {
  .header__mode-btn,
  .header__logout-btn {
    display: none;
  }
  .site-header {
    padding: 27px 0;
  }
}
@media (max-width: 730px) {
  .swiper-slide {
    padding-top: 40px;
  }
  .swiper-slide:nth-child(1) {
    background-image: url("../../images/hero-mobile.png");
  }
  .hero__form {
    width: 100%;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    transform: translate(0, -40px) !important;
  }
  .swiper__title {
    font-size: 24px;
    line-height: 29.26px;
  }
}
.hero-section {
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: 500px;
  border-radius: 30px;
  position: relative !important;
}

.swiper-slide {
  padding-top: 60px;
  border-radius: 30px;
  background-image: url("../images/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background-image: url("../images/hero2.png");
}

.swiper-slide:nth-child(3) {
  background-image: url("../images/hero3.png");
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  transition: all 0.3s !important;
  background-color: #FFFFFF !important;
  opacity: 50% !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  opacity: 100% !important;
  width: 30px !important;
  border-radius: 10px !important;
}

.swiper-pagination {
  text-align: start !important;
  transform: translate(40px, -25px) !important;
}

.swiper__content-wrapper {
  width: 416px;
  margin: 0 auto;
}

.swiper__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  text-align: center;
  color: white;
}

.swiper__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.swiper-button-next, .swiper-button-prev {
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 10px !important;
}

.hero__form {
  z-index: 9999;
  margin: 0 auto;
  margin-top: -33px;
  position: relative;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1490196078);
}

.hero__form-input {
  width: 88%;
  padding: 22px 0;
  padding-left: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: #555555;
}

.hero__form-btn {
  position: absolute;
  right: 3px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: var(--clr-green);
  border: none;
  color: white;
}

.dreams-section {
  padding: 100px 0 160px;
}

.dreams__content-wrapper {
  max-width: 575px;
  margin-bottom: 40px;
  margin: 0 auto;
  text-align: center;
}

.dreams__title {
  margin-top: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  color: var(--clr-black);
}

.dreams__text {
  margin-top: 10px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #555555;
}

.dreams__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.dreams__cotegory-btn {
  margin-top: 0px;
  padding: 19px 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--clr-black);
  border: 1.5px solid #E5E7EA;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.dreams__cotegory-btn:hover {
  background-color: var(--clr-green);
  color: var(--clr-white);
}

.dreams__cotegory-btn-all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin-top: 40px;
}

.dreams__cotegory-btn-all {
  margin-top: 0px;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  color: var(--clr-white);
  background-color: var(--clr-green);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1.5px solid var(--clr-green);
}
.dreams__cotegory-btn-all:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
  border: 1.5px solid #E5E7EA;
}

.dreams__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 24px;
}

.dreams__item {
  width: 386px;
  height: 433px;
  background-color: #F5F5F5;
  border-radius: 16px;
}

.dreams__description {
  padding: 30px 0px 0px 24px;
}

.dreams__ford-title {
  padding-bottom: 8px;
  margin-top: 0px;
  padding: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: var(--clr-black);
}

.dreams__economy-car {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #555555;
}

@media (max-width: 831px) {
  .dreams__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
}
@media (max-width: 640px) {
  .dreams-section {
    padding: 62px 0 160px;
  }
  .dreams__title {
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: var(--clr-black);
  }
  .dreams__text {
    margin-top: 6px;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #555555;
  }
  .dreams__btn-wrapper {
    gap: 14px;
    margin-top: 30px;
  }
  .dreams__cotegory-btn {
    margin-top: 0px;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    color: var(--clr-black);
    border: 1.5px solid #E5E7EA;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dreams__cotegory-btn:hover {
    background-color: var(--clr-green);
    color: var(--clr-white);
  }
}
@media (max-width: 500px) {
  .dreams__item {
    width: 100%;
  }
}
.category__category-wrapper {
  padding-top: 160px;
}

.category__title-span {
  margin-top: 0px;
  padding: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: var(--clr-black);
}

.category__content-img {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  gap: 66px;
  margin-bottom: 160px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__text-wrapper {
  max-width: 684px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
}

.service__text-content {
  text-align: center;
}

.service__title {
  margin-top: 0px;
  padding: 0px;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  color: var(--clr-black);
  padding-bottom: 10px;
}

.service__text {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--clr-black);
}

.service__media {
  padding: 40px;
  padding-top: 40px;
  max-width: 590px;
  height: 216px;
  background-color: #F5F5F5;
  border-radius: 20px;
}

.service__title-description {
  margin-top: 0px;
  padding: 0px;
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  color: var(--clr-black);
  width: 211px;
}

.service__text-description {
  width: 354px;
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555555;
  margin-top: 10px;
}

.service__service-img {
  width: 60px;
  height: 60px;
}

@media (max-width: 932px) {
  .service__media {
    padding: 40px;
    padding-top: 40px;
    max-width: 387px;
    height: 178px;
    background-color: #F5F5F5;
    border-radius: 20px;
  }
  .service__title-description {
    margin-top: 0px;
    padding: 0px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.13px;
    color: var(--clr-black);
    width: 185px;
  }
  .service__service-img {
    width: 40px;
    height: 40px;
  }
  .service__text-description {
    width: 354px;
    margin-top: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #555555;
    margin-top: 10px;
  }
}
@media (max-width: 823px) {
  .service__big-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .service__text-wrapper {
    width: 684px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .service__title {
    margin-top: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: var(--clr-black);
    padding-bottom: 6px;
  }
  .service__text {
    margin-top: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--clr-black);
    max-width: 420px;
  }
  .service__media {
    padding: 40px;
    padding-top: 30px;
    max-width: 387px;
    height: 178px;
    background-color: #F5F5F5;
    border-radius: 20px;
  }
  .service__title-description {
    margin-top: 0px;
    padding: 0px;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.13px;
    color: var(--clr-black);
    width: 185px;
  }
  .service__service-img {
    width: 40px;
    height: 40px;
  }
  .service__text-description {
    width: 312px;
    margin-top: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #555555;
    margin-top: 10px;
  }
}
.community-section {
  padding: 100px 0;
  background-color: #F5F5F5;
}

.community {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.community__left-wrapper {
  width: 36%;
  padding: 70px 0 70px 70px;
}

.community__auth {
  display: inline-block;
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #4285F4;
  margin-bottom: 16px;
  padding-left: 28px;
  position: relative;
}
.community__auth::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/google.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
}

.community_title {
  margin-top: 0px;
  padding: 0px;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  color: #000;
  margin-bottom: 30px;
}

.community__line {
  width: 90%;
  height: 2px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 2px;
  background: linear-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
}

.community__text {
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #555;
  margin-bottom: 16px;
}

.community__link {
  display: inline-block;
  width: 194px;
  padding: 18px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  background-image: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 100px;
  border: none;
  border: 1.5px solid rgb(244, 141, 213);
}

.community__right-wrapper {
  width: 60%;
  padding: 50px 0 40px 40px;
  background-color: #299764;
}

.community__list {
  display: flex;
  gap: 20px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.community__item {
  min-width: 420px;
  height: 333px;
  background-color: white;
  border-radius: 16px;
}

@media (max-width: 1034px) {
  .community-section {
    padding: 30px 20px;
  }
  .community {
    flex-direction: column;
  }
  .community__left-wrapper, .community__right-wrapper {
    width: 100%;
  }
  .community__left-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 24px !important;
  }
  .community__left-top-wrapper {
    max-width: 320px;
  }
  .community__left-bottom-wrapper {
    max-width: 275px;
  }
  .community_title {
    margin-top: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #000;
    margin-bottom: 30px;
  }
  .community__line {
    width: 2px;
    height: 108px;
  }
}
@media (max-width: 822px) {
  .community__left-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
  }
  .community__left-top-wrapper {
    max-width: 100%;
  }
  .community__left-bottom-wrapper {
    max-width: 100%;
  }
  .community_title {
    margin-top: 0px;
    padding: 0px;
    font-size: 38px;
    font-weight: 500;
    line-height: 36px;
    color: #000;
    margin-bottom: 30px;
  }
  .community__line {
    width: 100%;
    height: 2px;
  }
  .community__right-wrapper {
    padding: 20px 16px;
  }
  .community__item {
    min-width: 100%;
  }
}
.safe {
  border: 1.5px solid #E5E7EA;
  border-radius: 20px;
  margin-bottom: 160px;
}

.safe__safe-wrapper {
  display: flex;
  align-items: center;
}

.safe__safe-description {
  max-width: 594px;
  margin: 40px 122px 94px 32px;
}

.safe__safe-title {
  margin-top: 0px;
  padding: 0px;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.88px;
  color: var(--clr-black);
  padding-bottom: 10px;
}

.safe__safe-text {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555555;
}

.safe__safe-kimyo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.safe__safe-kimyo {
  max-width: 200px;
  height: 160px;
  background-color: #F5F5F5;
  border-radius: 16px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.safe__safe-kimyo-img {
  padding: 20px 20px 29px 135px;
}

.safe__safe-kimyo-text {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #000000;
  padding: 0 15px 15px 15px;
}

.kimyo-img {
  padding-bottom: 51px;
}

@media (max-width: 1084px) {
  .safe__safe-title {
    margin-top: 0px;
    padding: 0px;
    font-size: 33px;
    font-weight: 600;
    line-height: 43.88px;
    color: var(--clr-black);
    padding-bottom: 10px;
  }
  .safe__safe-description {
    max-width: 466px;
    margin: 30px 10px 35px 24px;
  }
  .safe__safe-kimyo {
    max-width: 140px;
    height: 165px;
    background-color: #F5F5F5;
    border-radius: 16px;
    margin-bottom: 30px;
  }
  .safe__safe-kimyo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .safe__safe-kimyo-img {
    padding: 20px 20px 19px 90px;
  }
  .kimyo-img {
    padding-bottom: 35px;
  }
  .safe__safe-kimyo-text {
    margin-top: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    padding: 0 10px 8px 10px;
  }
}
@media (max-width: 911px) {
  .safe__brother-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .safe__safe-description {
    max-width: 321px;
    margin: 24px 17px 40px 20px;
  }
  .safe__safe-title {
    margin-top: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: var(--clr-black);
    padding-bottom: 10px;
    width: 183px;
  }
  .safe__safe-text {
    margin-top: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #555555;
  }
  .safe__brother {
    display: none;
  }
  .safe__safe-kimyo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .safe__safe-kimyo {
    max-width: 318px;
    height: 128px;
    background-color: #F5F5F5;
    border-radius: 16px;
    margin-left: 0;
  }
  .safe__safe-kimyo-img {
    padding: 20px 20px 20px 254px;
  }
  .safe__safe-kimyo-text {
    margin-top: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    padding: 0 0 0 10px;
  }
  .kimyo {
    width: 318px;
    height: 106px;
  }
  .safe {
    background-image: url(../../images/burchak.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    margin: 0 16px;
    margin-bottom: 100px;
  }
}
.footer__footer-wrapper-top {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-bottom: 44px;
}

.footer__footer-logos {
  max-width: 240px;
}

.footer__footer-logos-text {
  margin-top: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #555555;
  padding-top: 20px;
}

.footer__wrapper-links {
  display: flex;
  align-items: start;
  gap: 118px;
  margin-top: 64px;
}

.footer__item-span {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.05px;
  color: #000000;
}

.footer__item-link {
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #555555;
  padding-top: 12px;
}

.footer__footer-wrapper-top-lines {
  display: flex;
  flex-direction: column;
}

.footer__footer-wrapper-top-line {
  width: 895px;
  height: 1px;
  border: 1.5px solid #E5E7EA;
  margin-top: 40px;
}

.footer__footer-wrapper-bottom {
  display: flex;
  align-items: center;
  gap: 147px;
}

.footer__bottom-description {
  width: 158px;
}

.footer__bottom-text {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.footer__bottom-item-links {
  display: flex;
  align-self: start;
  gap: 49px;
}

.footer__bottom-item {
  display: flex;
  flex-direction: column;
}

.footer__bottom-span {
  margin-top: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #000000;
}

.footer__bottom-link {
  margin-top: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: #000000;
  padding-top: 12px;
}

.footer__bottom-link-img {
  padding-top: 22px;
  padding-bottom: 40px;
}

@media (max-width: 930px) {
  .footer__footer-wrapper-top, .footer__footer-wrapper-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__wrapper-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .footer__bottom-item-links {
    display: contents;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */