
@mixin Display($space){
    display: flex;
    align-items: center;
    justify-content: $space;
}

@mixin TextStyle($MT,$P,$FS,$FW,$LH,$CLR){
    margin-top: $MT;
    padding: $P;
    font-size: $FS;
    font-weight: $FW;
    line-height: $LH;
    color: $CLR;
}